.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.card-deck .card {
    background-color: whitesmoke;
    max-height: 480px;
    max-width: 380px;
    min-width: 340px;
    margin-left: 0px;
    padding: 0px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.card-img-top {
    /* background-color: thistle; */
    height: 250px;
    width: auto;
   
}
.card-body {
    /* background-color: wheat; */
    padding-left: 5px;
}
.card-title {
    display: flex;
    list-style-type: none;
    color: rgb(0, 151, 140);
    margin-bottom: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
}
.card-title li {
   margin-right: 5px;
}
.card-text {
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.card-body span {
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 0px;

}
.available-days {
    padding: 0px;
}
.available-days h6{
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .card-deck {
        padding: 0px;
        margin: 0px;
    }
    .card-deck .card {
        width: 90% !important;
        height: 400px;
        margin: 10px;
        padding: 5px;
    }
}