.card {
    background-color: whitesmoke;
    height: 500px;
    max-width: 400px;
    margin: 10px;
}
.card-img-top {
    background-color: thistle;
}
.card-body {
    background-color: wheat;
}
.card-title {
    background-color: red;
}
.card-text {
    background-color: salmon;
}